<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <main>
      <button
        mat-icon-button
        class="example-icon"
        (click)="sidenav.toggle()"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
